
/* 
    GLOBAL
*/

*{
    font-family: Helvetica;
    /* border: 2px solid red; */
}

html, body{
    margin: 0;
    text-align: center;
}

p{
    color: black;
    font-size: 24px;
}

h1{
    color: black;
    
}

a{
    color: white;
    text-decoration: none;  
}

/* 
    NAVBAR
*/

.navbar-container{
    background-color: #333333;
    display: grid;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: sticky;
    top: 0;
    grid-template-columns: repeat(3, 1fr);
}

.nav-ul{
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
}    

.nav-li{
    display: inline;
    padding: 5px;
    font-size: 20px;
}

.nav-li:hover a{
    color: rgb(207, 134, 255);
    /* font-weight: bold; */
}

#logo-img{
    display: grid;
    align-items: end;
    padding: 10px;
    margin: 5px;
}

.sign-up-btn{
    grid-column: 3;
    align-self: center;
    justify-self: end;
    height: 2rem;
    width: 8rem;
    padding: 1px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5%;
    border: #333333;
}

.sign-up-btn:hover{
    background-color: rgb(125, 38, 183);
    color: white;
}

/* 
    PAGE HEADER
*/

.page-header{
    display: grid;
    justify-content: center;
    
}

/* 
    PAGE CONTENT
*/

.p-container{
    display: grid;
    justify-content: center;
    margin: 4rem;
    text-align: center;
    
}

.p-body{
    align-items: center;
}

/* 
    FOOTER
*/
.footer-container{
    background-color: #333333;
    display: grid;
    grid-gap: 3px;
    justify-content: flex-end;
    margin: 0;
    position: static;
    bottom: 0;
    width: 100%;
    align-items: end;
    grid-template-columns: repeat(5, 1fr);
}

.footer-social{
    grid-column: 5;
}

.footer-ul{
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    justify-self: end; 
}

.footer-li{
    color: white;
    display: inline;
    padding: 5px;
    font-size: 20px;
}

.footer-li:hover a{
    color: whitesmoke;
    font-weight: bold;
}

.footer-copyright{
    grid-column: 1;
    font-size: 14px;
    color: white;
    padding: 5px;
    justify-self: start;
}